<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- header -->
<div th:replace="~{layout/fragments/header::header}"></div>

<body>

<!-- navigation -->
<div th:replace="~{layout/fragments/nav::nav}"></div>

<!-- ======= Sidebar ======= -->
<div th:replace="~{layout/fragments/side::side}"></div>

<!-- ======= content 동적영역 ======= -->
<th:block layout:fragment="content"></th:block>

<!-- ======= Footer ======= -->
<div th:replace="~{layout/fragments/footer::footer}"></div>

</body>
</html>