<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<div th:replace="~{layout/header::header}"></div>

<body>

  <!-- navigation -->
  <div th:replace="~{layout/nav::nav}"></div>

  <!-- ======= Sidebar ======= -->
  <div th:replace="~{layout/side::side}"></div>

  <!-- ======= main ======= -->
  <div th:replace="~{layout/main::main}"></div>

  <!-- ======= Footer ======= -->
  <div th:replace="~{layout/footer::footer}"></div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>

</html>